//-------------- BASE / MOBILE --------------

$h-fonts: 'Nanum Myeongjo', 'Goudy Old Style', serif;

body {
    margin: 0px;
    background-image: url("../img/city-bg.jpg"); // Foto av Ricardo Esquivel från Pexels
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*-------------- HEADER --------------*/
header {
    width: 80%;
    margin: 7% auto;
    background-color: rgb(167, 135, 118);
    opacity: 0.95;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-family: $h-fonts;
    padding: 70px 0px;
    letter-spacing: 7px;
}
h1 {
    font-size: 1.2em;
    margin: 5px 0px;
    text-shadow: 1px 1px 1px #524e48;
}
h2 {
    font-size: 1em;
    margin-top: 5px;
    text-shadow: 1px 1px 1px #524e48;
}

/*-------------- MAIN CONTENT --------------*/
.content {
    width: 80%;
    margin: 7% auto;
    padding: 0;
}
h3 {
    font-family: $h-fonts;
    font-size: 1.2em;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 7px;
    position: relative;
    z-index: 2;
}

/*-------------- MENU - MOBILE --------------*/
.navbar {
    background-color: rgb(240, 230, 220);
    margin: 0 auto;
}
label {
    height: 50px;
    width: 60px;
    display: inline-block;
    cursor: pointer;
}
.burger {
    position: relative;
    height: 5px;
    width: 40px;
    background-color: #443e39;
    margin: 5px 10px;
    display: block;
    border-radius: 10px;

    &:first-of-type {
        margin-top: 13px;
    }
}
label:hover > span:nth-child(2) {
    animation: mymove 0.5s ease-out;
    animation-fill-mode: forwards;
}
@keyframes mymove {
    0% {left: 0px;}
    100% {left: 10px;}
}
#menu-toggle:checked + .main-nav {
    z-index: 1;
    display: block;
    max-height: 100%;
    max-width: 100%;
}
.main-nav {
    max-height: 0;
    display: none;
    background-color: rgb(240, 230, 220);
    margin: 0;
    padding: 0;
    list-style: none;
}
.main-nav-li {
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    font-family: $h-fonts;
    letter-spacing: 2px;
    transition: all 0.3s linear;
}
.main-nav-li:hover {
    cursor: pointer;
    color: #fff;
    background-color: rgba(114, 101, 92, 0.728);
}
input {
    display: none;
}
/*-------------- ASIDE -------------*/
aside {
    width: 100%;
    overflow: auto;

    h4 {
        letter-spacing: 2px;
        margin-top: 5px;
        margin-bottom: 2px;
    }
    p {
        font-size: 14px;
        margin-bottom: 5px;
    }
    ul {
        font-size: 14px;
        font-family: 
        Montserrat, 'Lucida sans', sans-serif;
    }
}
.placeholder-box {
    display: flex;
    justify-content: center;
    margin: auto;
}
.placeholder-image {
    border-radius: 50%;
    width: 70%;
    height: 70%;
}
.fab { //font-awesome-icons
    color: #000;
    width: 30px;
    font-size: 2em;
    margin: 3px 10px;
    transition: all 0.2s linear;
}
.fab:hover {
    color: #fff;
}
.br-display-none {
    display: none;
}
.contact-box {
    text-align: center;
    background-color: rgba(167, 135, 118, 0.952);
    padding: 10px;
    margin: 1px;
    box-shadow: 0px 0px 3px 1px #e9e1d7;

    h3 {
        margin-bottom: 10px;
        color: #fff;
        text-shadow: 1px 1px 1px #524e48;
    }
}
.aside-profile {
    background-color: rgb(240, 230, 220);
    margin-top: 10%;
    box-shadow: 0px 0px 3px 1px #e9e1d7;
    margin-bottom: 20px;
}
/*-------------- MAINSECTION -------------*/
section {
    padding: 5px 15px;
    h4 {
        font-weight: 400;
        font-size: 18px;
        text-align: center;
        letter-spacing: 2px;
        margin-bottom: 10px;
    }
    p {
        font-size: 14px;
        margin-top: 3px;
        font-family: Montserrat, 'Lucida sans', sans-serif;
        line-height: 1.5;
    }
}
.main-section {
    background-color: #f3edea;
}
.text-shadow {
    width: 300px;
    height: 15px;
    margin: -30px auto 15px auto;
    background-color: rgb(212, 200, 187);
    position: relative;
    display: block;
    z-index: -1;
}
/*-------------- FOOTER -------------*/
footer {
    font-family: $h-fonts;
    color: white;
    text-shadow: 1px 1px 1px #524e48;
    letter-spacing: 1.5px;
    text-align: center;
    clear: none;
    background-color: rgb(186, 170, 161);
    margin: 0px;
    padding: 5px;
    bottom: 0;
    width: 100%;
    z-index: 3;
}
.github {
    color: #79756d;
    text-decoration: none;
    margin-left: 10px;
    &:hover {
        color: #000000;
    }
}