//-------------- BASE / MOBILE --------------

$h-fonts: 'Nanum Myeongjo', 'Goudy Old Style', serif;

body {
    margin: 0px;
    padding: 0px;
    background-image: url("../img/city-bg.jpg"); // Foto av Ricardo Esquivel från Pexels
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-sizing: border-box;
}
.experience-container {
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(255,255,255,0.4);
}

/*-------------- HEADER --------------*/
header {
    width: 80%;
    margin: 7% auto;
    background-color: rgb(124, 104, 98,);
    opacity: 0.95;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-family: $h-fonts;
    padding: 70px 0px;
    letter-spacing: 7px;
}
h1 {
    font-size: 1.2em;
    margin: 5px 0px;
    text-shadow: 1px 1px 1px #524e48;
}
h2 {
    font-size: 1em;
    margin-top: 10px;
    text-shadow: 1px 1px 1px #524e48;
}

/*-------------- MAIN CONTENT --------------*/
.content {
    width: 86%;
    margin: 7% auto;
    padding: 0;
}
h3 {
    font-family: $h-fonts;
    font-size: 1.1em;
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 7px;
    position: relative;
    z-index: 2;
}

/*-------------- MENU - MOBILE --------------*/
.navbar {
    background-color: rgb(240, 230, 220);
    margin: 0 auto;
}
label {
    height: 50px;
    width: 60px;
    display: inline-block;
    cursor: pointer;
}
.burger {
    position: relative;
    height: 5px;
    width: 40px;
    background-color: #443e39;
    margin: 5px 10px;
    display: block;
    border-radius: 10px;

    &:first-of-type {
        margin-top: 13px;
    }
}
label:hover > span:nth-child(2) {
    animation: mymove 0.5s ease-out;
    animation-fill-mode: forwards;
}
@keyframes mymove {
    0% {left: 0px;}
    100% {left: 10px;}
}
#menu-toggle:checked + .main-nav {
    z-index: 1;
    display: block;
    max-height: 100%;
    max-width: 100%;
}
.main-nav {
    max-height: 0;
    display: none;
    background-color: rgb(240, 230, 220);
    margin: 0;
    margin-bottom: -3px;
    padding: 0;
    list-style: none;
}
.main-nav-li {
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    // color: #fff;
    font-family: $h-fonts;
    letter-spacing: 2px;
    transition: all 0.3s linear;
    text-decoration: none;
}
.main-nav-li:hover {
    cursor: pointer;
    color: #fff;
    background-color: rgba(114, 101, 92, 0.728);
}
input {
    display: none;
}

/*-------------- ASIDE -------------*/
aside {
    width: 100%;
    overflow: auto;

    h4 {
        letter-spacing: 2px;
        margin-top: 5px;
        margin-bottom: 2px;
    }
    p {
        font-size: 14px;
        margin-bottom: 5px;
    }
    ul {
        font-size: 14px;
        font-family: 
        Montserrat, 'Lucida sans', sans-serif;
    }
}
.placeholder-box {
    display: flex;
    justify-content: center;
    margin: auto;
}
.placeholder-image {
    border-radius: 50%;
    width: 70%;
    height: 70%;
}
.fab { //font-awesome-icons
    color: #000;
    width: 30px;
    font-size: 2em;
    margin: 5px 10px;
    transition: all 0.3s linear;
}
.fab:hover {
    color: #fff;
    text-shadow: 0px 0px 3px #e9e1d7;
    transform: translateY(-7px);
}
.br-display-none {
    display: none;
}
.contact-box {
    text-align: center;
    background-color: rgba(191, 162, 145, 0.95);
    // background-color: rgba(124, 104, 98, 0.952);
    padding: 10px;
    margin: 3px;
    box-shadow: 0px 0px 3px 1px #e9e1d7;

    h3 {
        margin-bottom: 10px;
        color: #fff;
        text-shadow: 1px 1px 1px #524e48;
    }
}
.aside-profile {
    background-color: rgb(240, 230, 220);
    box-shadow: 0px 0px 3px 1px #e9e1d7;
    margin: 3px;
}
li::marker {
    color: #746964;
}

/*-------------- MAINSECTION -------------*/
.content, .aside-profile {
    padding: 5px 15px;
    h4 {
        font-weight: 400;
        font-size: 18px;
        text-align: center;
        letter-spacing: 2px;
        margin-bottom: 10px;
    }
    p {
        font-size: 14px;
        margin: 5px;
        padding: 5px;
        font-family: Montserrat, 'Lucida sans', sans-serif;
        line-height: 1.5;
    }
}
.main-section {
    width: 100%;
    margin: 3px;
}
.text-shadow {
    width: 275px;
    height: 15px;
    margin: -30px auto 15px auto;
    background-color: rgb(212, 200, 187);
    position: relative;
    display: block;
    z-index: -1;
}

/*-------------- START PAGE -------------*/
.start-container {
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(255,255,255,0.4);
    height: 100%;
}
.background-start, .experience-text {
    width: 90%;
    background-color: #f5f1ee;
    margin: 6px auto;
    margin-bottom: 10px;
    padding: 15px;

    h4 {
        margin-top: 0;
    }
}

/*-------------- PORTFOLIO PAGE -------------*/
.portfolio-container {
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(255,255,255,0.4);
}
.github-box {
    margin: 10px;
    box-shadow: 0px 5px 10px #664c3a59;
    border: 1px solid rgba(255,255,255,0.4);
    transition: transform 0.5s linear;
    &:hover {
        transform: translateY(-7px);
    }
}
.github-img-box {
    width: 100%;
    height: 300px;
    filter: blur(1px);
    opacity: 0.8;
    transition: opacity 0.5s, filter 0.5s ease;
    &:hover {
        filter: blur(0px);
        opacity: 1;
    }
}
.github {
    text-decoration: none;
    color: black;
}
.github-repo1_img {
    height: 100%;
    background-image: url("../img/mathildap-github.jpg");
    background-size: cover;
    background-position: left;
    z-index: 1;
}
.github-repo2_img {
    height: 100%;
    background-image: url("../img/sten-sax-pase.jpg");
    background-size: cover;
    background-position: center;
}
.github-repo3_img {
    height: 100%;
    background-image: url("../img/to-do-list.jpg");
    background-size: cover;
    background-position: center;
}
.github-repo5_img {
    height: 100%;
    background-image: url("../img/webshop.png");
    background-size: cover;
    background-position: center;
}
.github-repo6_img {
    height: 100%;
    background-image: url("../img/letschat.png");
    background-size: cover;
    background-position: center;
    z-index: 1;
}


/*-------------- CONTACT PAGE -------------*/
.contact-page_box {
    margin: 0px 20px 20px 20px;
    text-align: center;
    border: 1px solid rgba(255,255,255,0.4);
    border-right: 1px solid rgba(255,255,255,0.2);
    border-bottom: 1px solid rgba(255,255,255,0.2);
    box-shadow: 0px 5px 10px #664c3a59;
    border-radius: 5px;
    background-color: rgba(219, 209, 199, 0.932);
    transition: all 0.2s linear;
}
.contact-page_box:hover {
    background-color: rgba(255, 255, 255, 0.534);
    box-shadow: 0px 5px 10px #a19284;
    color: #978c7e;
    text-shadow: 0px 0px 3px #b19f99;
    transform: translateY(-5px);
}
.contact-page_link {
    text-decoration: none;
    color: #292727;
    font-size: 1.2em;
    letter-spacing: 1px;
    transition: all 0.2s linear;
}
.contact-page_link:hover .fab {
    color: #ffffff;
    text-shadow: 0px 1px 3px #8d857b;
    transform: translateY(0px);
}
.contact-container {
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(255,255,255,0.4);
}

/*-------------- FOOTER -------------*/
footer {
    font-family: $h-fonts;
    color: white;
    text-shadow: 1px 1px 1px #524e48;
    letter-spacing: 1.5px;
    background-color: rgb(186, 170, 161);
    margin: 0px;
    bottom: 0;
    width: 100%;
    height: 40px;
    z-index: 3;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}