//-------------- TABLET --------------

.navbar {
    display: none;
}
/*-------------- HEADER -------------*/
h1 {
    font-size: 50px;
}
h2 {
    font-size: 25px;
}
/*-------------- MAIN -------------*/
main {
    display: flex;
}
/*----------- MAINSECTION ----------*/
article {
    h3 {
        font-size: 20px;
        margin-top: 20px;
    }
    h4 {
        font-size: 15px;
    }
}
/*------------- ASIDE ---------------*/
aside {
    display: block;
    max-height: 100%;
    min-width: 35%;
    width: 35%;

    h3 {
        font-size: 1rem;
    }
}
.placeholder-image {
    width: 90%;
}
.contact-box {
    padding-right: 20px;
    
    p {
        text-align: center;
        font-size: 11px;
    }
}
.br-display-none {
    display: block;
}
